[Unit]
Description=Xray Service
After=network.target

[Service]
WorkingDirectory=/etc/xray/
ExecStart=/usr/local/bin/xray
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
